<template>
	<div class="home">
		<img alt="Vue logo" src="../assets/logo.png">
		<button v-on:click="goMain">이동</button>
	</div>
</template>

<script>
// @ is an alias to /src

export default {
	name: 'home',
	methods: {
		goMain: function() {
			this.$router.push({ path: 'main' })
		}
	},
	components: {}
}
</script>
